---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/global.css";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <header class="about-hero">
    <h1 class="title">About Pudding</h1>
    <p>A modern, simple Astro blog theme. </p>
  </header>
  <div class="github">
    <p>Check out <a class="nav-link" style="color: var(--primary-color);" href="https://github.com/huamurui/pudding">GitHub repository</a></p>
  </div>
</BaseLayout>
