---
// src/pages/tags.astro
import Search from '../components/Search/Search';
import BaseLayout from '../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
const allTags = [...new Set(allPosts.flatMap(post => post.data.tags || []))].sort();
const pageTitle = "Search";


---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags-page">
    <Search client:load />
  </div>
</BaseLayout>
