.tag-search-wrapper {
    width: 100%;
    margin: 60px auto;
}

#tag-search-container {
    display: flex;
    gap: 0;
    max-width: 600px;
    margin: 10px auto;
    width: 100%;
}

.tag-search-wrapper select {
    height: 32px;
    padding: 6px 12px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 6px 0 0 6px;
    outline: none;
    transition: all 0.2s ease;
    color: var(--text-primary);
}

.tag-search-wrapper select:focus {
    border-color: var(--theme-color);
    box-shadow: 0 0 0 2px rgba(94, 126, 255, 0.2);
    z-index: 999;
}

.tag-search-wrapper .search-input-container {
    position: relative;
    flex: 1;
}

.tag-search-wrapper input {
    width: 100%;
    height: 32px;
    padding: 8px 12px;
    padding-right: 36px;
    /* 为清除按钮留出空间 */
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    margin-left: -1px;
    border-radius: 0 6px 6px 0;
    outline: none;
    transition: all 0.2s ease;
    color: var(--text-primary);
    box-sizing: border-box;
}

.tag-search-wrapper input:focus {
    border-color: var(--theme-color);
    box-shadow: 0 0 0 2px rgba(94, 126, 255, 0.2);
    z-index: 999;
}

.tag-search-wrapper .clear-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-secondary);
    transition: color 0.2s ease;
    padding: 4px;
}

.tag-search-wrapper .clear-button:hover {
    color: var(--primary-color);
}

.tag-search-wrapper .clear-button.hidden {
    opacity: 0;
    pointer-events: none;
}

.suggestions-dropdown {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin-top: 4px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 0 0 6px 6px;
    box-shadow: var(--shadow);
    max-height: 240px;
    overflow-y: auto;
}

.suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-item:hover {
    background-color: var(--bg-tertiary);
}

.suggestion-count {
    font-size: 12px;
    color: var(--text-secondary);
}

.error-message {
    margin-top: 4px;
    color: #ff4444;
    font-size: 14px;
}

.result-count {
    margin-top: 8px;
    font-size: 14px;
    color: var(--text-secondary);
}
