---
import "../styles/global.css";
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FAB from "../components/FAB.tsx";

const { pageTitle } = Astro.props;
const items = (await getCollection("posts")).map((post) => ({
  title: post.data.title,
  url: `/posts/${post.id}/`,
  depth: post.data.url?.split("/").length - 1 || 0,
}));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <script is:inline>
      (function () {
        try {
          const savedTheme = localStorage.getItem("theme");
          const systemPrefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
          ).matches;
          const theme = savedTheme || (systemPrefersDark ? "dark" : "light");

          document.documentElement.classList.add(theme);
          document.documentElement.setAttribute("data-theme", theme);
        } catch (e) {
          console.error("主题设置错误:", e);
        }
      })();
    </script>
  </head>
  <body>
    <Header />
    <!-- <Sidebar items={items}/> -->
    <main
      style="
      max-width: 1200px; 
      margin: 0 auto; 
      padding: 1rem;
    "
    >
      <slot />
    </main>

    <Footer />
    <FAB client:only />
  </body>
</html>
